{% extends "layout.html" %}

{% block body %}
<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>วันที่บันทึกธุรกรรม</th>
                <th>ชื่อธุรกรรม</th>
                <th>จำนวนเงิน</th>
                <th>หมวดหมู่</th>
                <th>ลบ</th>
                <th>แก้ไข</th>
            </tr>
        </thead>
        <tbody>
            {% for item in statements%}
            <tr>
                <td>{{item.date}}</td>
                <td>{{item.name}}</td>
                <td>{{item.amount | currencyFormat}}</td>
                <td><span class="badge bg-primary">{{item.category}}</span></td>
                <td><a href="/delete/{{item.id}}" class="btn btn-sm btn-danger">ลบ</a></td>
                <td><a href="#" class="btn btn-sm btn-success">แก้ไข</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}