<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <h1> ยินดีต้อนรับเข้าสู่ about  </h1>
        <img src="../static/pic1.png" alt="">
        <ul>
            <li> <a href="/"> Home </a> </li>
            <li> <a href="/about"> about  </a> </li>
            <li> <a href="/admin"> admin </a> </li>

        </ul>
        <script src="" async defer></script>
    </body>
</html>